@import "tailwindcss";
.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/fondonovamarket.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
